<%- include('./partials/nav.ejs')  %> 
<h2>Lista de productos</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Foto</th>
    </tr>
    </thead>
    <tbody>
        <% productos.forEach(p => { %>
            <tr>
                <td><%= p.id %> </td>
            <td><%= p.title %>  </td>
            <td><%= p.price %> </td>
            <td> <a href="/productos/detalle/<%= p.id %>"> <img width="250px" src="<%= p.img %> "></a></td>
        </tr>
        <% }) %>
    </tbody>
</table>

 
 
